@import "../vars";
.solution-wrapper {
  background-color: $black-bg;
  color: $-white;
  margin: 5% 0;
    .solution {
      padding: 5% 0;
        .solution-content {
          margin: 5% 0;
            .solution-ico {
              width: 180px;
              height: 180px;
            }
        }
    }
}