/** Bold */
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/opensans-bold.ttf");
}

/** Semibold */
@font-face {
	font-family: "OpenSansSemiBold";
	src: url("../fonts/OpenSans-SemiBold.ttf");
}

/* Regular */
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSans-Regular.ttf");
}